@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400&family=Open+Sans:wght@300&family=Roboto:wght@100;300;400;500&family=Young+Serif&display=swap");
@import "./mixins.scss";
@import "./pages/user-page.scss";
@import "./pages/home-page.scss";
@import "./components/button.scss";
@import "./components/login-register.scss";

body {
  //body margin reset
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
